<html>
<head>
<title>Python Flask Upload and display image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script >document.onreadystatechange=function() 
{ if (document.readyState!="complete"){
    document.querySelector("body").style.visibility="hidden";
    document.querySelector("#loader").style.visibility="visible";}
    else {
        document.querySelector("body").style.visibility="visible";
    document.querySelector("#loader").style.visibility="hidden"; 
    }      
    }
</script>
<style src="/static/css/style.css"></style>
<style>#loader {
    border: 12px solid;
    border-radius: 50%;
    border-top: 12px solid #4444;
    width: 35px;
    height: 35px;
    animation: spin is linear infinite;
    }
    @keyframes spin {100% {transform: rotate(360deg);}
        
    }
    .center {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    </style>
</head>
<body>
    <div id="loader" class="center"></div> 
<p><h1 align="center">Python Flask Upload and display image</h1></p>
<a href='/login' ><button align="center">Login</button></a></body>
